@import "constants";

body {
  background-color: $black;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}
//

header {
	height: 10vw;
	display: flex;
	flex-flow: row;
	align-items: left;
}
#header-big{
	width: 80vw;
	color: $white;
	text-align: left;
	visibility: hidden;
}
#icon {
  height: 10vw;
  width: 10vw;
  background: #6DBC60;
  top: 0;
  left: 0;
  position: fixed;
}
#list-wrapper {
  height: auto;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.list-btn {
  height: 20vh;
  width: 100%;
  margin-bottom: 5vh;
  background: $white;
  border: none;
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  margin-top: 100vh;
  height: 100vh;
  width: 100vw;
}

