@import "constants";

body {
  background-color: $black;

  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}
//
main {
}
ul li {
  list-style-type: none;
}
header {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 90vw;
  background-color: $black;
  z-index: 100;
  position: fixed;
}
#header-txt {
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 90vw;
  height: 16vh;
  color: $black;
  text-align: left;
  background-color: $white;
  visibility: hidden;
}
#icon {
  height: 125px;
  width: 125px;
  background: #6dbc60;
  left: 5vw;
  position: fixed;
}
#nav-anim {
  height: 125px;
  width: 125px;
  background: #6dbc60;
  left: 5vw;
  position: fixed;
}
#list-wrapper {
  margin-top: 25vh;
  height: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-flow: column;
  overflow: hidden;
  padding-left: 0;
  z-index: -99;
}
.list-item {
  height: 15vh;
  width: 100%;
  margin-bottom: 5vh;
  background: $white;
  border: none;
  display: flex;
  justify-content: space-between;
}

footer {
  height: 15vh;
  display: flex;
  flex-flow: row;
  align-items: left;
}
