@import "constants";

body {
  background-color: $black;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}
//
ul li {
  list-style-type: none;
}
header {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 90vw;
  background-color: $black;
  z-index: 100;
  position: fixed;
}

.list-item-l-r-btn {
  position: absolute;
  height: 40vh;
  width: 5vw;
  border: none;
  background-color: red;
  visibility: hidden;
}
#btn-left {
  right: auto;
  left: 5vw;
  top: 35vh;
}

#btn-right {
  left: auto;
  right: 5vw;
  top: 35vh;
}

#header-txt {
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 90vw;
  height: 18vh;
  color: $black;
  text-align: left;
  background-color: $white;
  visibility: hidden;
}
#icon {
  height: 125px;
  width: 125px;
  background: $green;
  left: 5vw;
  position: fixed;
}
#nav-anim {
  height: 125px;
  width: 125px;
  background: $green;
  left: 5vw;
  position: fixed;
}

#list-wrapper {
  margin-top: 22vh;
  height: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-flow: column;
  overflow: hidden;
  padding-left: 0;
  z-index: -99;

  .list-item {
    height: 15vh;
    width: 100%;
    margin-bottom: 5vh;
    background: $white;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  .project-heading {
    display: none;
  }
}

footer {
  height: 15vh;
  display: flex;
  flex-flow: row;
  align-items: left;
}
